caption {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fe8544;
    padding: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.colunas {
    color: #02180c;
}

.linhas {
    color: #4b5563;
}

.periodos {
    color: #0a4a86;
}

table {
    width: 65%;
    margin: 40px auto;
    padding: 28px;
    border: 2px;
    border-style: dashed;
    border-color: #85ef0c;
    border-collapse: collapse;
    justify-content: center;
}

td, th {
    padding: 15px;
    border: 1px;
    border-style: groove;
    border-color: #dd6b13;
    border-collapse: collapse;
    color: black;
}

.aulas1 {
    background-color: #e0e7ff;
}

.aulas2 {
    background-color: #fee2e2;
}

.domingo {
    background-color: #fef3c7;
}

tbody tr:nth-child(even) {
    background-color: #9ba8aca1;
}

thead th {
    background-color: #2b5aa6;
    color: #98e11bb2;
}