h1 {
    color: blue;
}

h1, h2 {
    color: pink;
}

section + p {
    color: purple;
}

img {
    width: 100%;
}

.teste {
    width: 50%;
}

section {
    border: 2px solid brown;
    margin: 16px;
    padding: 1%;
}

p, ul {
    margin: 0;
}

ul {
    color: orangered;
    list-style-type: lower-roman;
}

ol {
    color: salmon;
    list-style-type: square;
}



/* #Ingredientes {
    color: orange;
}

.verde {
    color: green;
} */